#serviços {
    background-color: #200b69;
}


.serviços-pd h5 { 
    text-align: center;
    padding-bottom: 500px;
    padding-right: 40px;
    padding-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: white;
}



.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 50px;
    padding-bottom: 70px;
  
}

.conteiner-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    position: absolute;
    max-width: 100%;
    margin-top: -260px;
    margin-left: 40px; 
}

.skill-box {
   
    height: 256px;
    width: 256px;
    background-color: #C4C4C4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
   
}

.skill-box:hover {                             
    background-color: white;
    transform: scale(1.05);
    width: 300px;
    height: 300px;
}

.conteiner-descricao {
    color: white;
    font-family: 'Quando', serif;
    font-size: 20px;
    max-width: 104%;
    position: absolute;
    padding-top: -64px;
    margin-top: -499px;
    padding-left: 156px;
}

@media (max-width:1200px) {

    .skills-descricao {
        align-items: center;
    }
    .conteiner-descricao {
        max-width: 100%;
        font-size: 2px;
        position: absolute;
        padding-left: 93px;
        margin-top: -1040px;
        margin-left: 59px;
;
    }

    p {
        font-size: 13px;
    }

}
@media (max-width:950px) {

    .serviços-pd h5 {
        
        text-align: center;
        padding-bottom: 551px;
        padding-top: 73px;
        font-size: 41px;
        padding-left: 13px;
    }
  
    .conteiner-skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 100%;
        margin-left: -7px;  
        margin-top: -400px;
    }

    .skill-box {
        height: 101px;
        width: 146px;
        padding-bottom: 100px;
        padding-left: 140px;
        
    }

    .skill-box:hover {                             
        width: 150px;
        height: 150px;
    }
}

.skill-box .icones-serviços {
    transition: ease-in-out 0.3s;
}

.skill-box:hover .icones-serviços {
    opacity: 0;
}

.skill1{
    background-image: url(../img/Captura\ de\ Tela\ \(61\).png);
}

.skill2 {
    background-image: url(../img/Captura\ de\ Tela\ \(61\).png);
}

.skill3 {
    background-image: url(../img/Captura\ de\ Tela\ \(61\).png);
}

#fundo {
    fill: #160761;
}